<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.agency.mapper.IBuildingMapper">
	<resultMap type="com.house.agency.entity.Building" id="building">
		<id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUILDING_NAME" property="buildingName" jdbcType="VARCHAR" />
    <result column="BUILDING_YEAR" property="buildingYear" jdbcType="VARCHAR" />
    <result column="BUILDING_FLOOR" property="buildingFloor" jdbcType="VARCHAR" />
    <result column="BUILDING_ADDRESS" property="buildingAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.house.agency.data.BuildingData" id="buildingData">
		<result column="BUILDING_ID" property="buildingId" jdbcType="VARCHAR" />
	  <result column="LABEL" property="label" jdbcType="VARCHAR" />
	  <result column="DISTRICT_NAME" property="districtName" jdbcType="VARCHAR" />
	  <result column="TOWN_NAME" property="townName" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.house.agency.data.manage.BuildingManageData" id="buildingManageData">
    <result column="BUILDING_ID" property="buildingId" jdbcType="VARCHAR" />
    <result column="DISTRICT_NAME" property="districtName" jdbcType="VARCHAR" />
    <result column="TOWN_NAME" property="townName" jdbcType="VARCHAR" />
    <result column="BUILDING_NAME" property="buildingName" jdbcType="VARCHAR" />
    <result column="BUILDING_ADDRESS" property="buildingAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

	<select id="getDataById" resultMap="building">
		SELECT * FROM BUILDING WHERE ID = #{id, jdbcType=VARCHAR}
	</select>
	
	<sql id="sqlQuery">
      FROM BUILDING a WHERE 1=1
  </sql>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="building">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	
	<select id="list" resultMap="buildingData">
		SELECT 
		  a.ID BUILDING_ID,
		  a.BUILDING_NAME LABEL,
		  c.NAME DISTRICT_NAME,
      b.NAME TOWN_NAME
		FROM BUILDING a 
		JOIN REGION b
      ON b.ID = a.TOWN_ID
    JOIN REGION c
      ON c.ID = b.PARENT_ID where 1=1
    <if test="param.districtId != null and param.districtId != ''">
      AND c.ID = #{param.districtId}
    </if>
    <if test="param.townId != null and param.townId != ''">
      AND b.ID = #{param.townId}
    </if>
    <if test="param.buildingName != null and param.buildingName != ''">
      and a.BUILDING_NAME like '%${param.buildingName}%'
    </if>
    <if test="param.status != null and param.status != ''">
      AND a.STATUS = #{param.status}
    </if>
			order by a.CREATE_TIME desc
	</select>
	
	<sql id="sqlQueryManageData">
      FROM BUILDING a
    JOIN REGION b
      ON b.ID = a.TOWN_ID
    JOIN REGION c
      ON c.ID = b.PARENT_ID
     WHERE 1=1
    <if test="param.districtId != null and param.districtId != ''">
      AND c.ID = #{param.districtId}
    </if>
    <if test="param.townId != null and param.townId != ''">
      AND b.ID = #{param.townId}
    </if>
    <if test="param.buildingName != null and param.buildingName != ''">
      AND a.BUILDING_NAME like '%${param.buildingName}%'
    </if>
    <if test="param.createDateBegin != null and param.createDateBegin != ''">
      AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[>=]]> #{param.createDateBegin}
    </if>
    <if test="param.createDateEnd != null and param.createDateEnd != ''">
      AND to_char(a.CREATE_TIME, 'YYYY-MM-DD') <![CDATA[<=]]> #{param.createDateEnd}
    </if>
  </sql>
	<select id="countManageData" resultType="java.lang.Integer">
    SELECT COUNT(1) <include refid="sqlQueryManageData"/>
  </select>
	<select id="queryManageData" resultMap="buildingManageData">
    SELECT 
       a.ID BUILDING_ID,
       c.NAME DISTRICT_NAME, 
       b.NAME TOWN_NAME, 
       a.BUILDING_NAME,
       a.BUILDING_ADDRESS,
       a.STATUS,
       a.CREATE_TIME
     <include refid="sqlQueryManageData"/>
      order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
  </select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO BUILDING
		  (ID,
		   TOWN_ID,
		   BUILDING_NAME,
		   BUILDING_YEAR,
		   BUILDING_ADDRESS,
		   TYPE,
		   SUBWAY,
		   STATUS,
		   CREATE_TIME,
		   REMARKS)
		VALUES (
		  	#{param.id, jdbcType=VARCHAR},
		  	#{param.townId, jdbcType=VARCHAR},
		  	#{param.buildingName, jdbcType=VARCHAR},
		  	#{param.buildingYear, jdbcType=VARCHAR},
		  	#{param.buildingAddress, jdbcType=VARCHAR},
		  	#{param.type, jdbcType=VARCHAR},
		  	#{param.subway, jdbcType=INTEGER},
		  	#{param.status, jdbcType=VARCHAR},
        #{param.createTime, jdbcType=TIMESTAMP},
        #{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update BUILDING
		<set>
<if test="param.buildingName != null and param.buildingName != ''">
	BUILDING_NAME = #{param.buildingName, jdbcType=VARCHAR},
</if>
<if test="param.buildingAddress != null and param.buildingAddress != ''">
	BUILDING_ADDRESS = #{param.buildingAddress, jdbcType=VARCHAR},
</if>
UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteById">
		delete from BUILDING a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>