<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.agency.mapper.IRegionMapper">
	<resultMap type="com.house.agency.entity.Region" id="regionResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sqlQuery">
		FROM REGION a where 1=1
	</sql>
	
	<select id="getDataById" resultMap="regionResult">
		SELECT * FROM IMAGE WHERE ID = #{id, jdbcType=VARCHAR}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="regionResult">
		SELECT a.* <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	<select id="list" resultMap="regionResult">
    select a.* FROM REGION a join REGION b on a.PARENT_ID = b.ID WHERE 1=1
      AND b.CODE = #{param.code, jdbcType=VARCHAR}
      order by a.SEQ asc
  </select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO REGION
		  (ID,
		   PARENT_ID,
		   NAME,
		   CODE,
		   LEVEL,
		   SEQ,
		   STATUS,
		   CREATE_TIME,
		   REMARKS)
		VALUES (
		  	#{param.id, jdbcType=VARCHAR},
		  	#{param.parentId, jdbcType=VARCHAR},
		  	#{param.name, jdbcType=VARCHAR},
		  	#{param.code, jdbcType=VARCHAR},
		  	#{param.level, jdbcType=VARCHAR},
		  	#{param.seq, jdbcType=INTEGER},
		  	#{param.status, jdbcType=VARCHAR},
        #{param.createTime, jdbcType=TIMESTAMP},
        #{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update TRADE
		<set>
UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteById">
		delete from TRADE a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>