<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.house.agency.mapper.ITradeMapper">
	<resultMap type="com.house.agency.entity.Trade" id="tradeResult">
		<id column="ID" property="id" jdbcType="VARCHAR" />
<result column="STATUS" property="status" jdbcType="VARCHAR" />
<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.house.agency.data.TradeData" id="tradeDataResult">
    <id column="ID" property="tradeId" jdbcType="VARCHAR" />
<result column="IMG_TITLE" property="imgTitle" jdbcType="VARCHAR" />
<result column="URL" property="url" jdbcType="VARCHAR" />
<result column="TITLE" property="title" jdbcType="VARCHAR" />
<result column="TYPE" property="type" jdbcType="VARCHAR" />
<result column="TOWN_NAME" property="townName" jdbcType="VARCHAR" />
<result column="BUILDING_NAME" property="buildingName" jdbcType="VARCHAR" />
<result column="BUILDING_ADDRESS" property="buildingAddress" jdbcType="VARCHAR" />
<result column="BUILDING_YEAR" property="buildingYear" jdbcType="VARCHAR" />
<result column="BUILDING_FLOOR" property="buildingFloor" jdbcType="INTEGER" />
<result column="PRICE" property="price" jdbcType="INTEGER" />
<result column="AREA" property="area" jdbcType="INTEGER" />
<result column="ROOM" property="room" jdbcType="INTEGER" />
<result column="SALOON" property="saloon" jdbcType="INTEGER" />
<result column="TOILET" property="toilet" jdbcType="INTEGER" />
<result column="FLOOR" property="floor" jdbcType="INTEGER" />
  </resultMap>

	<sql id="sqlQuery">
  		FROM TRADE a where 1=1
	</sql>
	<sql id="sqlQueryData">
      FROM TRADE a
    JOIN HOUSE b
      ON a.HOUSE_ID = b.ID
    JOIN BUILDING_UNIT c
      ON b.BUILDING_UNIT_ID = c.ID
    JOIN BUILDING d
      ON c.BUILDING_ID = d.ID
    JOIN REGION e
      ON e.ID = d.TOWN_ID
    LEFT JOIN IMAGE f
      ON f.ID = a.IMAGE_ID
      WHERE 1=1
      <if test="param.pattern != 0 and param.symbol != null and param.symbol != ''">
        AND b.ROOM <![CDATA[>]]> #{param.pattern}
      </if>
      <if test="param.pattern != 0 and param.symbol == null or param.symbol == ''">
        AND b.ROOM = #{param.pattern}
      </if>
      <if test="param.areaBegin != 0 and param.areaEnd != 0">
      	AND b.AREA <![CDATA[>=]]> #{param.areaBegin}
      	AND b.AREA <![CDATA[<=]]> #{param.areaEnd}
      </if>
  </sql>
	
	<select id="getDataById" resultMap="tradeResult">
		SELECT * FROM TRADE WHERE ID = #{id, jdbcType=VARCHAR}
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="sqlQuery"/>
	</select>
	<select id="query" resultMap="tradeResult">
		SELECT a.*
        <include refid="sqlQuery"/>
			order by a.CREATE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
	</select>
	<select id="countData" resultType="java.lang.Integer">
    SELECT COUNT(1) <include refid="sqlQueryData"/>
  </select>
	<select id="queryData" resultMap="tradeDataResult">
    SELECT 
       a.ID,
       f.TITLE IMG_TITLE,
       f.URL,
       a.TITLE,
       a.TYPE,
       e.NAME TOWN_NAME, 
       d.BUILDING_NAME,
       d.BUILDING_ADDRESS, 
       d.BUILDING_YEAR,
       c.FLOOR BUILDING_FLOOR,
       a.PRICE,
       b.AREA,
       b.ROOM,
       b.SALOON,
       b.TOILET,
       b.FLOOR
      <include refid="sqlQueryData"/>
      order by a.RELEASE_TIME desc limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER}
  </select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO TRADE
		  (ID,
		   HOUSE_ID,
		   USER_ID,
		   IMAGE_ID,
		   PRICE,
		   TITLE,
		   TYPE,
		   RELEASE_TIME,
		   STATUS,
		   CREATE_TIME,
		   REMARKS)
		VALUES (
		  	#{param.id, jdbcType=VARCHAR},
		  	#{param.houseId, jdbcType=VARCHAR},
		  	#{param.userId, jdbcType=VARCHAR},
		  	#{param.imageId, jdbcType=VARCHAR},
		  	#{param.price, jdbcType=INTEGER},
		  	#{param.title, jdbcType=VARCHAR},
		  	#{param.type, jdbcType=VARCHAR},
		  	#{param.releaseTime, jdbcType=TIMESTAMP},
		  	#{param.status, jdbcType=VARCHAR},
        #{param.createTime, jdbcType=TIMESTAMP},
        #{param.remarks, jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
		update TRADE
		<set>
UPDATE_TIME = #{param.updateTime, jdbcType=TIMESTAMP},
		</set>
		where id = #{param.id, jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteById">
		delete from TRADE a where a.ID = #{id, jdbcType=VARCHAR}
	</delete>
</mapper>